<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [4]:
# your code goes here
duplicate_rows = df[df.duplicated()]

len(duplicate_rows)

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
# your code goes here
# Drop duplicate rows
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [8]:
duplicate_rows = df[df.duplicated()]

len(duplicate_rows)

0

## Finding Missing values

Find the missing values for all columns.

In [59]:
# Find rows with missing values
missing_data = df.isnull()

for column in missing_data.columns.values.tolist():
    print(col)
    print(missing_data[column].value_counts())
    print("")

Respondent
Respondent
False    11398
Name: count, dtype: int64

Respondent
MainBranch
False    11398
Name: count, dtype: int64

Respondent
Hobbyist
False    11398
Name: count, dtype: int64

Respondent
OpenSourcer
False    11398
Name: count, dtype: int64

Respondent
OpenSource
False    11317
True        81
Name: count, dtype: int64

Respondent
Employment
False    11398
Name: count, dtype: int64

Respondent
Country
False    11398
Name: count, dtype: int64

Respondent
Student
False    11347
True        51
Name: count, dtype: int64

Respondent
EdLevel
False    11286
True       112
Name: count, dtype: int64

Respondent
UndergradMajor
False    10661
True       737
Name: count, dtype: int64

Respondent
EduOther
False    11234
True       164
Name: count, dtype: int64

Respondent
OrgSize
False    11302
True        96
Name: count, dtype: int64

Respondent
DevType
False    11333
True        65
Name: count, dtype: int64

Respondent
YearsCode
False    11389
True         9
Name: count, dtype: int64

Respondent
Age1stCode
False    11385
True        13
Name: count, dtype: int64

Respondent
YearsCodePro
False    11382
True        16
Name: count, dtype: int64

Respondent
CareerSat
False    11398
Name: count, dtype: int64

Respondent
JobSat
False    11397
True         1
Name: count, dtype: int64

Respondent
MgrIdiot
False    10905
True       493
Name: count, dtype: int64

Respondent
MgrMoney
False    10901
True       497
Name: count, dtype: int64

Respondent
MgrWant
False    10905
True       493
Name: count, dtype: int64

Respondent
JobSeek
False    11398
Name: count, dtype: int64

Respondent
LastHireDate
False    11398
Name: count, dtype: int64

Respondent
LastInt
False    10985
True       413
Name: count, dtype: int64

Respondent
FizzBuzz
False    11361
True        37
Name: count, dtype: int64

Respondent
JobFactors
False    11395
True         3
Name: count, dtype: int64

Respondent
ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

Respondent
CurrencySymbol
False    11398
Name: count, dtype: int64

Respondent
CurrencyDesc
False    11398
Name: count, dtype: int64

Respondent
CompTotal
False    10589
True       809
Name: count, dtype: int64

Respondent
CompFreq
False    11192
True       206
Name: count, dtype: int64

Respondent
ConvertedComp
False    10582
True       816
Name: count, dtype: int64

Respondent
WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

Respondent
WorkPlan
False    11277
True       121
Name: count, dtype: int64

Respondent
WorkChallenge
False    11234
True       164
Name: count, dtype: int64

Respondent
WorkRemote
False    11390
True         8
Name: count, dtype: int64

Respondent
WorkLoc
False    11398
Name: count, dtype: int64

Respondent
ImpSyn
False    11393
True         5
Name: count, dtype: int64

Respondent
CodeRev
False    11397
True         1
Name: count, dtype: int64

Respondent
CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

Respondent
UnitTests
False    11369
True        29
Name: count, dtype: int64

Respondent
PurchaseHow
False    11202
True       196
Name: count, dtype: int64

Respondent
PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

Respondent
LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

Respondent
LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

Respondent
DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

Respondent
DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

Respondent
PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

Respondent
PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

Respondent
WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

Respondent
WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

Respondent
MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

Respondent
MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

Respondent
DevEnviron
False    11369
True        29
Name: count, dtype: int64

Respondent
OpSys
False    11364
True        34
Name: count, dtype: int64

Respondent
Containers
False    11316
True        82
Name: count, dtype: int64

Respondent
BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

Respondent
BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

Respondent
BetterLife
False    11300
True        98
Name: count, dtype: int64

Respondent
ITperson
False    11363
True        35
Name: count, dtype: int64

Respondent
OffOn
False    11360
True        38
Name: count, dtype: int64

Respondent
SocialMedia
False    11105
True       293
Name: count, dtype: int64

Respondent
Extraversion
False    11378
True        20
Name: count, dtype: int64

Respondent
ScreenName
False    10891
True       507
Name: count, dtype: int64

Respondent
SOVisit1st
False    11073
True       325
Name: count, dtype: int64

Respondent
SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

Respondent
SOVisitTo
False    11397
True         1
Name: count, dtype: int64

Respondent
SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

Respondent
SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

Respondent
SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

Respondent
SOAccount
False    11397
True         1
Name: count, dtype: int64

Respondent
SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

Respondent
SOJobs
False    11392
True         6
Name: count, dtype: int64

Respondent
EntTeams
False    11393
True         5
Name: count, dtype: int64

Respondent
SOComm
False    11398
Name: count, dtype: int64

Respondent
WelcomeChange
False    11313
True        85
Name: count, dtype: int64

Respondent
SONewContent
False    9433
True     1965
Name: count, dtype: int64

Respondent
Age
False    11111
True       287
Name: count, dtype: int64

Respondent
Gender
False    11325
True        73
Name: count, dtype: int64

Respondent
Trans
False    11275
True       123
Name: count, dtype: int64

Respondent
Sexuality
False    10856
True       542
Name: count, dtype: int64

Respondent
Ethnicity
False    10723
True       675
Name: count, dtype: int64

Respondent
Dependents
False    11258
True       140
Name: count, dtype: int64

Respondent
SurveyLength
False    11379
True        19
Name: count, dtype: int64

Respondent
SurveyEase
False    11384
True        14
Name: count, dtype: int64

Respondent
NormalizedAnnualCompensation
False    10789
True       609
Name: count, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [38]:
# your code goes here

df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [46]:
len(df['WorkLoc'])

11398

Identify the value that is most frequent (majority) in the WorkLoc column.

In [47]:
#make a note of the majority value here, for future reference
df['WorkLoc'].mode()[0]

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [48]:
# your code goes here
Mode = df['WorkLoc'].mode()[0]
df['WorkLoc'].fillna( Mode,inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [49]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [50]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [55]:
# your code goes here
# Create 'NormalizedAnnualCompensation' column
df['NormalizedAnnualCompensation'] = 0

# Calculate normalized compensation based on 'CompFreq'
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df['CompTotal']*52
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df['CompTotal']*12
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df['CompTotal']*1

df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         0.0
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [60]:
df['NormalizedAnnualCompensation'].median()

98000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).