<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Download the webpage at the url

In [3]:
data  = requests.get(url).text

Create a soup object

In [4]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Scrape the `Language name` and `annual average salary`.

In [18]:
table = soup.find_all('table')

# Find the table rows (excluding the header row)
rows = soup.find_all('tr')[1:]
# Extract language name and annual average salary from each row
data = []
for row in rows:
    columns = row.find_all('td')
    language = columns[1].text
    salary = columns[3].text
    data.append((language, salary))


# Print the extracted data
for language, salary in data:
    print(f"Language: {language}, Salary: {salary}")

Language: Python, Salary: $114,383
Language: Java, Salary: $101,013
Language: R, Salary: $92,037
Language: Javascript, Salary: $110,981
Language: Swift, Salary: $130,801
Language: C++, Salary: $113,865
Language: C#, Salary: $88,726
Language: PHP, Salary: $84,727
Language: SQL, Salary: $84,793
Language: Go, Salary: $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [21]:
import csv
# Save the data to a CSV file
filename = "popular-languages.csv"
with open(filename, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Language', 'Salary'])  # Write header row
    writer.writerows(data)  # Write data rows

print(f"Data saved to {filename} successfully.")

Data saved to popular-languages.csv successfully.

In [29]:
#second method using pandas extracting table as dataframe
import pandas as pd
df = pd.read_html(url,flavor='bs4')[0]
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df.set_index('No.', inplace=True )

df_Language_Salary = df[['Language','Average Annual Salary']]
df_Language_Salary

0      Language Average Annual Salary
No.
1        Python              $114,383
2          Java              $101,013
3             R               $92,037
4    Javascript              $110,981
5         Swift              $130,801
6           C++              $113,865
7            C#               $88,726
8           PHP               $84,727
9           SQL               $84,793
10           Go               $94,082

In [30]:
# Save the DataFrame to a CSV file
filename = 'popular-languages2.csv'
df_Language_Salary.to_csv(filename, index=False)

print(f"Data saved to {filename} successfully.")

Data saved to popular-languages2.csv successfully.

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).